<div class="bus-table">
    <app-vehicle-table class="marta-table" [type]="busType"></app-vehicle-table>
</div>
<div class="train-table">
    <app-vehicle-table class="marta-table" [type]="trainType"></app-vehicle-table>
</div>
<div class="bus-route-table">
    <app-vehicle-route-table class="marta-table" [type]="busType"></app-vehicle-route-table>
</div>
<div class="train-route-table">
    <app-vehicle-route-table class="marta-table" [type]="trainType"></app-vehicle-route-table>
</div>
<div class="bus-stop-table">
    <app-stop-table class="marta-table" [type]="busType"></app-stop-table>
</div>
<div class="train-stop-table">
    <app-stop-table class="marta-table" [type]="trainType"></app-stop-table>
</div>
