<div class="container">
    <h1>Please Select What To Load And Where To Load From</h1>
    <form [formGroup]="loadForm">

        <div class="form-group">
            <label for="table">Table to load</label>
            <select
                id="table"
                formControlName="table"
                class="form-control load-form__select"
                (change)="tableNameChange($event)"
                [class.error]="tableControlInvalid"
            >
                <ng-container *ngFor="let tableName of tableNames">
                    <option value="false">{{ tableName }}</option>
                </ng-container>
            </select>
            <div class="alert alert-danger" *ngIf="tableControlInvalid">
                Table is required
            </div>
        </div>
        
        <div class="form-group">
            <label for="file">File to load</label>
            <input type="file" ngf [(file)]="file"
                id="file"
                formControlName="file"
                class="form-control load-form__input"
                (change)="fileChanged($event)"
                [class.error]="fileControlInvalid">
            <div class="alert alert-danger" *ngIf="fileControlInvalid">
                File is required
            </div>
        </div>

        <ngfFormData
            [files]      = "files"
            postName     = "file"
            [(FormData)] = "sendableFormData"
        ></ngfFormData>
            
        <ngfUploadStatus
            [(percent)] = "progress"
            [httpEvent] = "httpEvent"
        ></ngfUploadStatus>
            
        <div class="form-group">
            Upload progress:
            <div class="progress">
                <div class="progress-bar"
                    role="progressbar"
                    [ngStyle]="{ 'width': progress + '%' }"
                >
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" (click)="exitForm()">Done</button>
        <button type="button" class="btn btn-success" [disabled]="!loadForm.valid" (click)="uploadFiles(files)">Load Table</button>
    </form>
</div>
      